.mainpage {
color: yellow;
text-align: center;
 padding-top: 50px;
 padding-bottom: 20px;
 background-color: black;
 font-family: 'Orbitron', sans-serif;
 font-size: 250%;

}

#banner img {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#content img {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.stretch {
    width:70%;
    height:auto;
    padding-left: 20px;
    padding-right: 20px;

}

.cat {
    width:95%;
    height:auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;

}

body {
background-color: black

}
