.mainpage {
color: yellow;
text-align: center;
 padding-top: 50px;
 padding-bottom: 20px;
 background-color: black;
 font-family: 'Orbitron', sans-serif;
 font-size: 250%;
}

#background {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:auto;
}

body {
background-color: black

}
